<a href="https://colab.research.google.com/github/Infoanirban12/Task-1-Data-Cleaning-and-Preprocessing/blob/main/cleaning_script.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
# Step 1: Load the dataset
sales = pd.read_csv("/content/supermarket_sales - Sheet1.csv")

In [5]:
sales.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [6]:
# To check number of rows and columns
sales.shape

(1000, 17)

In [7]:
sales.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

In [17]:
# Step 2: Remove duplicate rows
sales = sales.drop_duplicates()

In [18]:
sales.dtypes

invoice_id                         object
branch                             object
city                               object
customer_type                      object
gender                             object
product_line                       object
unit_price                        float64
quantity                            int64
tax_5%                            float64
total                             float64
date                       datetime64[ns]
time                               object
payment                            object
cogs                              float64
gross_margin_percentage           float64
gross_income                      float64
rating                            float64
dtype: object

In [22]:
#step 3: Convert 'Date' to datetime and 'time' to time object
sales['date'] = pd.to_datetime(sales['date'], format='%m/%d/%Y', errors='coerce')  # Specifying format explicitly. Changed format to handle "1/27/2019" like inputs
# Applying strip to remove leading/trailing spaces and then converting to datetime
# Convert 'time' column to string before using .str.strip()
sales['time'] = pd.to_datetime(sales['time'].astype(str).str.strip(), format='%H:%M', errors='coerce').dt.time # Changed 'Time' to 'time'

In [23]:
#step 4: Standardize column names (lowercase, no spaces)
sales.columns = sales.columns.str.strip().str.lower().str.replace(" ", "_")

In [24]:
#step 5: Standardize categorical values
sales['gender'] = sales['gender'].str.capitalize()
sales['customer_type'] = sales['customer_type'].str.capitalize()
sales['payment'] = sales['payment'].str.title()

In [25]:
# Step 6: Export the cleaned dataset
sales.to_csv("cleaned_supermarket_sales.csv", index=False)